@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Message>

@{
	<div>
		@foreach (Message message in Model)
		{
			<p>@nameof(message.Sender) : @message.Sender</p>

			<p>@nameof(message.Body) : @message.Body</p>

			<p>@nameof(message.Date) : @message.Date</p>

			<a class="btn btn-primary" asp-controller="Exo2Message" asp-action="DetailMessage" asp-route-sender="@message.Sender">Details</a>

			<br />
			<br />
			<hr />
		}

		<h5>Affichage de vues partielles</h5>
		<hr />

		@foreach (Message message in Model)
		{
			<partial name="Exo3VuesPartielles/_Message" model="message" />

			<br />
			<br />
			<hr />
		}
	</div>

	<div>
		<h5>Affichage des messages depuis une requette AJAJ</h5>

	</div>
}

<button onclick="refreshMessages()">rafraichir liste messages</button>


<script>

	// Ajax Get
	function refreshMessages() {
		$.get("/Exo3VuesPartielles/GetAllJson", function (data) {
			// console.log(data);

			// var content = $('#contentPets');

			// content.empty();

			// for (let pet of data) {
			//     content.append($('<tr><td>' + pet.name + '</td></tr>'));
			// }

			$('#divContentPets').html(data);
		});
	}

	$(function () {
		$('#formSearch').submit(function (e) {
			$.post('/Pet/SearchAjax', { name: $('#searchName').val() }, function (data) {
				$('#divContentPets').html(data);
			}

			e.preventDefault();
		});

	});


</script>


<br />
<br />
<a class="btn btn-primary" asp-controller="Exo2Message" asp-action="Index">
	Retour
</a>