@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Message

@{
	<div>
		<p>@nameof(Model.Sender) : @Model.Sender</p>

		<p>@nameof(Model.Body) : @Model.Body</p>

		<p>@nameof(Model.Date) : @Model.Date</p>
	</div>
}

<br />
<br />
<a class="btn btn-primary" asp-controller="Exo2Message" asp-action="Index">
	Retour
</a>